@model IEnumerable< WebApp.WebUI.DAL.Models.Cars>

@{
    ViewData["Title"] = "Cars Page";
}

<div id="panel-1" class="panel">
    <div class="panel-hdr py-3 d-flex justify-content-between">
        <h3 class="card-title">Cars</h3>
        <a href="/Cars/EditCreate" class="btn btn-info">  <i class="fas fa-plus"></i> Add</a>
    </div>
    <div class="panel-container show">
        <div class="panel-content">
            <table id="data-table" class="table table-sm table-bordered table-hover table-striped w-100 dataTable" role="grid" aria-describedby="data-table_info">
                <thead class="thead-default">
                    <tr role="row">
                        <th>Id</th>
                        <th>Name</th>
                        <th>Registration</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var car in Model)
                    {
                        <tr role="row" class="odd">
                            <td>@car.Id</td>
                            <td>@car.Name</td>
                            <td>@car.Registration</td>

                            <td>
                                <div class="btn-group btn-group-xs ">
                                    <button class="btn  dropdown-toggle waves-effect waves-themed btn-group-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Action
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a asp-controller="Cars" asp-action="EditCreate" asp-route-id="@car.Id" class="dropdown-item" title="Uredi ispis"><i class="fa fa-edit"></i> Edit</a>

                                        <button class="dropdown-item" id="delete" name="delete" onclick="otvoriCRUDModal('@Url.Action("Delete", "Cars", new { area = "", id = car.Id })')"><i class="fa fa-trash"></i> Delete</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
