@model WebApp.WebUI.DAL.Models.TravelOrder
@{
    ViewData["Title"] = "Delete";
}

@await Html.PartialAsync("Sifarnik/_ModalHeader", "Are you sure you want to delete this travel order?")

<form asp-action="Delete"
      id="modalForm"
      name="modalForm"
      data-ajax="true"
      data-ajax-method="POST">
    <input hidden asp-for="Id" />

    <div class="modal-body">
        <div class="form-horizontal">
            <p><strong>Name: </strong>: @Html.DisplayFor(model => model.Employee.Name)</p>
            <p><strong>Last Name: </strong>: @Html.DisplayFor(model => model.Employee.LastName)</p>
            <p><strong>Car Brand: </strong>: @Html.DisplayFor(model => model.Cars.Name)</p>
            <p><strong>Registration: </strong>: @Html.DisplayFor(model => model.Cars.Registration)</p>
            <p><strong>Date: </strong>: @Html.DisplayFor(model => model.Date)</p>
            <p><strong>Mileage: </strong>: @Html.DisplayFor(model => model.Mileage)</p>
            <p><strong>Route: </strong>: @Html.DisplayFor(model => model.Route)</p>
        </div>
    </div>
    @await Html.PartialAsync("Sifarnik/_ModalFooter", "Delete")
</form>